:root {
    --nav-background-color: white;
    --sidebar-background-color: rgba(255, 255, 255, .95);
    --anchor-hover: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)100%);
    --separator-color: rgb(127, 127, 127);
    --paragraph-font-size: 18px;
    --paragraph-font: 'Titillium Web', sans-serif;
    --paragraph-font-color: black;
    --paragraph-max-width: 500px;

    --title-font-size: 2.000em;
    --title-font: 'Crete Round', serif;
    --title-font-color: white;
    --title-background: gray;

    --container-height: 650px;
    --container-height-smartphone: 610px;
    --container-margin-top: 60px;
    --container-margin-top-smartphone: 65px;
    --container-padding: 10px;
    --container-width: 750px;
    --container-width-smartphone: 300px;
    --container-background: white;
    --container-border-radius: 10px;

    --inner-container-background: darkgray;
    --inner-container-title-font-size: 25px;
    --inner-container-margin: 10px;
    --inner-container-padding: 10px;

    --button-font-color: white;
    --button-background: gray;
    --button-hover-background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, .5));
    --button-box-shadow: 2px 2px 4px;

    --dark-background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)100%);
    --light-background: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)100%);
    --project-bottom-wrapper-background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)100%) --box-shadow: 8px 8px 10px black;
    --copy-button-color: #888888;
    --input-color: #555555;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, .925), rgba(255, 255, 255, 1)100%), url("imgs/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#sidebar-container {
    display: none;
    visibility: hidden;
    flex-direction: column;
    position: fixed;
    width: 150px;
    height: 100%;
    background-color: var(--sidebar-background-color);
    z-index: 3;
}

nav {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--nav-background-color);
}

#sidebar-icon {
    display: none;
}

#header-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#anchor-container {
    margin-right: auto;
    margin-left: auto;
    width: 620px;
    display: flex;
    flex-direction: row;
}

#button-container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-anchor {
    color: var(--paragraph-font-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    font-family: var(--paragraph-font);
    text-decoration: none;
}

.header-anchor:hover {
    color: var(--title-font-color);
    background-image: var(--anchor-hover);
}

.header-anchor:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--title-background);
}

.header-separator {
    margin-top: 10px;
    padding: 0;
    padding-top: 2px;
    pointer-events: none;
    font-size: 17.5px;
    color: var(--separator-color);
}

.header-button {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px;
    padding-bottom: 0;
}

.switch-container {
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.switch-placeholder {
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
    font-size: 7.5px;
    font-weight: bold;
    font-family: var(--paragraph-font);
    color: var(--paragraph-font-color);
}

#language-switch {
    margin: 0;
    border: 0;
    border-radius: 12.5px;
    width: 50px;
    height: 25px;
    appearance: none;
    position: relative;
    cursor: pointer;
    transition: .3s;
    background: linear-gradient(91deg, #009c3b, #ffdf00);
}

#language-switch::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)100%), url("imgs/brasil.png");
    border-radius: 50%;
    position: absolute;
    left: 2.5px;
    top: 2.5px;
    transition: .3s;
}

#language-switch:checked {
    background: linear-gradient(91deg, #B31942, #0A3161);
    transition: .3s;
}

#language-switch:checked::before {
    background: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)100%), url("imgs/usa.png");
    left: 27.5px;
    transition: .3s;
}

#theme-switch {
    margin: 0;
    border: 0;
    appearance: none;
    width: 50px;
    height: 25px;
    background: linear-gradient(91deg, #eeeeee, #cccccc);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: .3s;
}

#theme-switch::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)100%), url("imgs/day.png");
    border-radius: 50%;
    position: absolute;
    left: 2.5px;
    top: 2.5px;
    transition: .3s;
}

#theme-switch:checked {
    background: linear-gradient(91deg, #333333, #111111);
    transition: .3s;
}

#theme-switch:checked::before {
    background: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)100%), url("imgs/night.png");
    left: 27.5px;
    transition: .3s;
}

#home-container {
    margin-top: 54.25px;
    height: var(--container-height);
    display: flex;
    flex-direction: column;
    background-image: var(--dark-background);
}

#inner-home-container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
}

#photo-container {
    display: flex;
    margin-left: auto;
}

#my-photo {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 10px solid var(--title-background);
    box-shadow: var(--box-shadow);
}

#text-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

#name-title {
    margin: 0;
    font-family: var(--title-font);
    font-size: 50px;
    font-weight: bold;
    color: var(--title-background);
}

#home-paragraph {
    margin-bottom: 25px;
    font-family: var(--paragraph-font);
    font-size: var(--title-font-size);
    color: var(--paragraph-font-color);
}

#bold-smiley-face {
    font-size: 50px;
}

.home-anchor {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    background-color: var(--button-background);
    width: 588.61px;
    height: 70px;
    padding: 20px;
    display: flex;
    border-radius: 35px;
}

.home-anchor:hover {
    background-image: var(--button-hover-background);
    color: var(--button-font-color);
}

#linkedin-anchor {
    margin-bottom: 20px;
}

.home-button-logo {
    margin-top: 6px;
    margin-left: auto;
    font-size: 25px;
    color: var(--button-font-color);
}

#cv-logo {
    margin-top: 8px;
    font-size: 20px;
}

.home-button-text {
    margin-right: auto;
    margin-left: 10px;
    color: var(--button-font-color);
    font-weight: bold;
    font-size: 25px;
    font-family: var(--paragraph-font);
}

.section-title {
    margin: 10px -10px 0 -0.625em 0;
    padding: 0 0.5em;
    line-height: 1.875em;
    position: relative;
    border-radius: 0 0.156em 0.156em 0;
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    color: var(--title-font-color);
    background: var(--title-background);
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
}

.section-title::before,
.section-title::after {
    position: absolute;
    content: '';
    display: block;
}

.section-title::before {
    padding: 0 0 0.438em;
    border-radius: 0.313em 0 0 0.313em;
    width: 0.469em;
    height: 121%;
    top: 0;
    left: -0.469em;
    background: var(--title-background);
}

.section-title::after {
    width: 0.313em;
    height: 0.313em;
    border-radius: 0.313em 0 0 0.313em;
    bottom: -0.313em;
    left: -0.313em;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.3);
}

#about-me-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    height: var(--container-height);
    background-image: var(--light-background);
}

#inner-about-me-container {
    margin-top: var(--container-margin-top);
    margin-bottom: var(--container-margin-top);
    margin-right: auto;
    margin-left: auto;
    padding-top: var(--container-padding);
    padding-right: var(--container-padding);
    padding-bottom: var(--container-padding);
    width: var(--container-width);
    background-color: var(--container-background);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow);
}

.about-me-paragraph {
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    max-width: var(--paragraph-max-width);
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    color: var(--paragraph-font-color);
}

#languages-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    min-height: var(--container-height);
    background-image: var(--dark-background);
}

#inner-languages-container {
    margin-top: var(--container-margin-top);
    margin-bottom: var(--container-margin-top);
    margin-right: auto;
    margin-left: auto;
    padding-top: var(--container-padding);
    padding-right: var(--container-padding);
    padding-bottom: var(--container-padding);
    width: var(--container-width);
    background-color: var(--container-background);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow);
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.language-title {
    font-size: var(--inner-container-title-font-size);
    font-weight: bold;
    font-family: var(--title-font);
    color: var(--button-font-color);
    text-align: center;
}

#frontend-container {
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: var(--container-border-radius);
    display: flex;
    flex-direction: column;
    background-color: var(--inner-container-background);
    box-shadow: var(--box-shadow);
}

#backend-container {
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: var(--container-border-radius);
    display: flex;
    flex-direction: column;
    background-color: var(--inner-container-background);
    box-shadow: var(--box-shadow);
}

td {
    height: 40px;
    text-align: start;
}

.anchor-placement {
    position: relative;
    top: -70px;
}

.language-anchor {
    text-decoration: none;
}

.language-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    color: var(--paragraph-font-color);
    box-shadow: 0 4px 6px -6px gray;
    transition: .3s;
}

.language-wrapper:hover {
    margin: 10px 10px 0 0.625em 0;
    position: relative;
    border-radius: 0 0.156em 0.156em 0;
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    color: var(--title-font-color) !important;
    background: var(--title-background);
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
}

.language-wrapper:hover::before,
.language-wrapper:hover::after {
    position: absolute;
    content: '';
    display: block;
}

.language-wrapper:hover::before {
    padding: 0 0 0.438em;
    border-radius: 0.313em 0 0 0.313em;
    width: 0.469em;
    height: 121%;
    top: 0;
    left: -0.469em;
    background: var(--title-background);
}

.language-wrapper:hover::after {
    width: 0.313em;
    height: 0.313em;
    border-radius: 0.313em 0 0 0.313em;
    bottom: -0.313em;
    left: -0.313em;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.3);
}

.language-icon-container {
    width: 50px;
    display: flex;
    justify-content: center;
}

.language-name-container {
    padding: 10px;
}

.language-icon {
    max-height: 25px;
    max-width: 35px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.language-name {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    color: var(--button-font-color);
}

.inner-language-description {
    display: none;
    visibility: hidden;
}

#description-container {
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#description-title {
    max-width: 500px;
    font-size: var(--inner-container-title-font-size);
    font-weight: bold;
    font-family: var(--title-font);
    color: var(--paragraph-font-color);
}

#description-text {
    max-width: 500px;
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    color: var(--paragraph-font-color);
    text-align: justify;
}

#certifications-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    min-height: var(--container-height);
    background-image: var(--light-background);
    color: var(--paragraph-font-color);
}

#inner-certifications-container {
    margin-top: var(--container-margin-top);
    margin-bottom: var(--container-margin-top);
    margin-right: auto;
    margin-left: auto;
    padding-top: var(--container-padding);
    padding-right: var(--container-padding);
    padding-bottom: 20px;
    width: var(--container-width);
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--container-background);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow);
}

#certification-grid {
    margin-top: var(--inner-container-margin);
    margin-right: auto;
    margin-left: auto;
    min-width: 690px;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.certification {
    border-radius: 10px;
    height: 400px;
    max-width: 70%;
    display: flex;
    flex-direction: row;
    background-color: var(--inner-container-background);
    box-shadow: var(--box-shadow);
    color: var(--button-font-color);
    transition: 0.5s ease-in-out;
}

#left-certification {
    height: 360px;
    position: absolute;
    z-index: 0;
    left: 5%;
    top: 5%;
    filter: brightness(0.7) blur(2px);
    transition: 0.5s ease-in-out;
}

#left-certification .certification-title,
#right-certification .certification-title {
    font-size: 22.5px;
}

#center-certification {
    position: absolute;
    z-index: 1;
    left: 15%;
    top: 0%;
    transition: 0.5s ease-in-out;
}

#right-certification {
    height: 360px;
    position: absolute;
    z-index: 0;
    left: 25%;
    top: 5%;
    filter: brightness(0.7) blur(2px);
    transition: 0.5s ease-in-out;
}

#hidden-certification {
    display: none;
    visibility: hidden;
}

.left-part-certification {
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-part-certification {
    border-radius: 10px;
    width: 50%;
    position: relative;
    overflow: hidden;
}

.certification-image {
    margin: 0;
    padding: 0;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
    overflow-x: hidden;
    max-width: 275px;
    z-index: -1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.certification-title {
    margin-bottom: 20px;
    max-width: 400px;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: var(--inner-container-title-font-size);
    text-align: left;
}

.certification-content {
    margin-bottom: 0;
    max-width: 500px;
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    text-align: justify;
}

.certification-date {
    margin-bottom: 0;
    max-width: 500px;
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    text-align: justify;
}

.certification-workload {
    margin-bottom: 0;
    max-width: 500px;
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    text-align: justify;
}

.check-certification {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    font-family: var(--paragraph-font);
    color: var(--button-font-color);
    text-decoration: none;
    text-align: center;
    background-color: var(--button-background);
    box-shadow: var(--button-box-shadow) black;
}

.check-certification:hover {
    background-image: var(--button-hover-background);
    color: var(--button-font-color);
}

#left-right-buttons {
    height: 0;
    position: relative;
    display: flex;
    flex-direction: row;
}

.arrow-image {
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--title-background);
    cursor: pointer;
}

#btn-left {
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 2;
    border: none;
    font-size: 20px;
    cursor: context-menu;
    background-color: transparent;
}

#btn-right {
    position: absolute;
    top: 50%;
    left: 92%;
    z-index: 2;
    border: none;
    font-size: 20px;
    cursor: context-menu;
    background-color: transparent;
}

#projects-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    min-height: var(--container-height);
    background-image: var(--dark-background);
}

#inner-projects-container {
    margin-top: var(--container-margin-top);
    margin-bottom: var(--container-margin-top);
    margin-right: auto;
    margin-left: auto;
    padding-top: var(--container-padding);
    padding-right: var(--container-padding);
    padding-bottom: 20px;
    width: var(--container-width);
    background-color: var(--container-background);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow);
}

#projects-grid {
    margin-top: var(--inner-container-margin);
    margin-right: auto;
    margin-left: auto;
    max-width: 690px;
    display: grid;
    grid-template-columns: 46% 46%;
    justify-content: space-around;
}

.project {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    /* padding: 10px; */
    padding-bottom: 20px;
    border-radius: 10px;
    min-width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    background-color: var(--inner-container-background);
    box-shadow: var(--box-shadow);
}

/* .project:hover {
    background-color: #d0d0d0;
} */

.project-image {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 100%);
}

.project-title {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
    height: 50px;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: var(--inner-container-title-font-size);
    color: var(--button-font-color);
}

.project-paragraph {
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 350px;
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    color: var(--button-font-color);
    text-align: justify;
}

.project-bottom-wrapper {
    padding: 10px;
    margin-bottom: 60px;
    border-radius: var(--container-border-radius);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 50px;
    background-image: var(--project-bottom-wrapper-background);
}

.used-languages-title {
    margin: 10px 10px 0 0.625em 0;
    line-height: 1.875em;
    position: relative;
    left: -0.769em;
    width: 105%;
    border-radius: 0 0.156em 0.156em 0;
    font-family: var(--title-font);
    font-size: 14px;
    text-align: left;
    color: var(--title-font-color);
    background: var(--title-background);
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
}

.used-languages-title::before,
.used-languages-title::after {
    position: absolute;
    content: '';
    display: block;
}

.used-languages-title::before {
    padding: 0 0 0.938em;
    border-radius: 0.313em 0 0 0.313em;
    width: 0.569em;
    height: 121%;
    top: 0;
    left: -0.569em;
    background: var(--title-background);
}

.used-languages-title::after {
    width: 0.313em;
    height: 0.313em;
    border-radius: 0.313em 0 0 0.313em;
    bottom: -0.313em;
    left: -0.313em;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.3);
}


.used-languages-wrapper {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
}

.used-laguages-images {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.demo-user-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.demo-user-title {
    margin: 10px 10px 0 0.625em 0;
    line-height: 1.875em;
    position: relative;
    left: -0.769em;
    width: 105%;
    border-radius: 0 0.156em 0.156em 0;
    font-family: var(--title-font);
    font-size: 14px;
    color: var(--title-font-color);
    background: var(--title-background);
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
}

.demo-user-title::before,
.demo-user-title::after {
    position: absolute;
    content: '';
    display: block;
}

.demo-user-title::before {
    padding: 0 0 0.938em;
    border-radius: 0.313em 0 0 0.313em;
    width: 0.569em;
    height: 121%;
    top: 0;
    left: -0.569em;
    background: var(--title-background);
}

.demo-user-title::after {
    width: 0.313em;
    height: 0.313em;
    border-radius: 0.313em 0 0 0.313em;
    bottom: -0.313em;
    left: -0.313em;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.3);
}

.demo-user-table {
    border-collapse: collapse;
    width: 100%;
}

.demo-user-table td,
.demo-user-table th {
    padding: 0;
}

.demo-user-table tr {
    margin: 0;
}

.demo-user-table td:last-child {
    padding-right: 0;
}

.demo-user-paragraph {
    height: 25px;
    width: 100%;
    padding-top: auto;
    padding-bottom: auto;
    margin: 0;
    padding: 0;
    border-left: 2px groove linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    border-bottom: 2px groove linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    border-radius: 5px 0 0 5px;
    box-shadow: -2px 2px 6px -4px aaaaaa;
    padding-left: 3px;
    outline: none;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: lighter;
    font-style: normal;
    font-size: 12px;
    color: white;
    background-color: var(--input-color);
}

.demo-user-paragraph:hover {
    background-color: #444444;
}

.copy-button {
    height: 25px;
    width: 23.25px;
    padding: 5px;
    margin: 0;
    margin-top: 1px;
    border-right: 2px groove linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    border-bottom: 2px groove linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    border-radius: 0 5px 5px 0;
    box-shadow: -2px 2px 6px -4px #777777;
    font-size: var(--paragraph-font-size);
    filter: invert(1);
    background-color: var(--copy-button-color);
    cursor: pointer;
}

.alert {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8de4bc;
    color: white;
    padding: 15px;
    border-radius: 50px 10px 10px 50px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.alert.show {
    opacity: 1;
}

.copy-button:hover {
    background-color: #999999;
}

.check-button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: var(--container-border-radius);
    width: 130px;
    position: absolute;
    left: 10px;
    bottom: 20px;
    font-family: var(--paragraph-font);
    text-align: center;
    text-decoration: none;
    color: var(--button-font-color);
    background-color: var(--button-background);
    box-shadow: var(--button-box-shadow) black;
}

.check-button:hover {
    background-color: var(--button-hover-background);
    color: var(--button-font-color);
}

.repository-button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: var(--container-border-radius);
    width: 130px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-family: var(--paragraph-font);
    text-align: center;
    text-decoration: none;
    color: var(--button-font-color);
    background-color: var(--button-background);
    box-shadow: var(--button-box-shadow) black;
}

.repository-button:hover {
    background-color: var(--button-hover-background);
    color: var(--button-font-color);
}

#contact-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    min-height: var(--container-height);
    background-image: var(--light-background);
}

#inner-contact-container {
    margin-top: var(--container-margin-top);
    margin-bottom: var(--container-margin-top);
    margin-right: auto;
    margin-left: auto;
    padding-top: var(--container-padding);
    padding-right: var(--container-padding);
    padding-bottom: 20px;
    width: var(--container-width);
    background-color: var(--container-background);
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow);
}

#contact-wrapper {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

#message-input {
    height: 200px;
    pointer-events: initial;
}

#socials-container {
    margin-right: 10px;
    margin-left: 10px;
}

#socials-table {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

#socials-table-smartphone {
    display: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.socials-logo {
    padding: 10px;
    background-color: var(--inner-container-background);
    border-radius: 50%;
}

.socials-anchor {
    margin: 10px;
    padding: 10px;
    font-family: var(--title-font);
    font-size: 22px;
    color: var(--paragraph-font-color);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.socials-anchor:hover {
    border-radius: var(--container-border-radius);
    color: var(--paragraph-font-color);
    background-color: var(--inner-container-background);
    text-decoration: none;
}

.socials-td {
    margin: 10px;
    font-family: var(--paragraph-font);
    font-size: 22px;
    text-align: right;
    color: var(--paragraph-font-color);
}

.socials-tr {
    box-shadow: 0 4px 8px -8px gray;
}

.fa {
    margin-right: 5px;
}

.fab {
    margin-right: 5px;
}

.socials-separator {
    height: 10px;
}

@media only screen and (max-width: 1100px) {
    #home-container {
        max-width: 1100px;
        height: fit-content;
        display: flex;
    }

    #inner-home-container {
        margin-top: var(--container-margin-top);
        margin-bottom: var(--container-margin-top);
        display: flex;
        flex-direction: column;
    }

    #photo-container {
        margin-left: auto;
        margin-right: auto;
    }

    #my-photo {
        margin-top: var(--container-margin-top);
        width: 200px;
        height: 200px;
    }

    #text-container {
        margin-top: var(--inner-container-margin);
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
    }

    #name-title {
        justify-content: center;
        text-align: center;
    }

    #home-paragraph {
        margin-bottom: 25px;
        margin-right: auto;
        margin-left: auto;
        font-family: var(--paragraph-font);
        color: var(--paragraph-font-color);
    }

    #bold-smiley-face {
        font-size: 25px;
    }

    #home-anchor {
        text-decoration: none;
    }

    #home-button {
        background-color: var(--button-background);
        height: 70px;
        padding: 20px;
        display: flex;
        border-radius: 35px;
    }
}

@media only screen and (max-width: 800px) {
    #anchor-container {
        display: none;
    }

    #button-container {
        padding: 10px 0 10px 0;
    }

    #theme-switch-container {
        right: -100px;
    }

    #language-switch-container {
        right: -100px;
    }

    #sidebar-button {
        margin: 0;
        padding: 0;
        background-color: var(--nav-background-color);
    }

    #sidebar-icon {
        margin-top: auto;
        margin-bottom: auto;
        display: block;
        height: 25px;
        width: auto;
        position: fixed;
        top: 3%;
        left: 5vw;
        cursor: pointer;
    }

    .header-anchor {
        padding-left: 20px;
    }

    #home-container {
        margin-top: 61.25px;
        padding-bottom: 61.25px;
        max-width: 800px;
        height: 610px;
        display: flex;
        background-image: var(--dark-background);
    }

    #inner-home-container {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
    }

    #photo-container {
        margin-left: auto;
        margin-right: auto;
    }

    #my-photo {
        margin-top: var(--container-margin-top);
        width: 200px;
        height: 200px;
    }

    #text-container {
        margin-top: var(--inner-container-margin);
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
    }

    #name-title {
        justify-content: center;
        text-align: center;
        font-size: var(--title-font-size);
    }

    #home-paragraph {
        margin-bottom: 25px;
        margin-right: auto;
        margin-left: auto;
        font-family: var(--paragraph-font);
        font-size: var(--paragraph-font-size);
        color: var(--paragraph-font-color);
    }

    #bold-smiley-face {
        font-size: 25px;
    }

    .home-anchor {
        text-decoration: none;
        background-color: var(--button-background);
        width: 308.03px;
        height: 70px;
        padding: 20px;
        display: flex;
        border-radius: 35px;
    }

    #about-me-container {
        height: fit-content;
    }

    #inner-about-me-container {
        margin-top: var(--container-margin-top-smartphone);
        margin-bottom: var(--container-margin-top-smartphone);
        margin-right: 20px;
        margin-left: 20px;
        width: auto;
    }

    .about-me-paragraph {
        margin-right: 10px;
        margin-left: 20px;
    }

    #languages-container {
        height: fit-content;
    }

    #flex-container {
        margin: 0;
        flex-direction: column;
        width: 100%;
    }

    #icons-container {
        margin: 0;
        flex-direction: column;
        width: 100%;
    }

    #inner-languages-container {
        margin-top: var(--container-margin-top-smartphone);
        margin-bottom: var(--container-margin-top-smartphone);
        margin-right: 20px;
        margin-left: 20px;
        width: auto;
    }

    .flex-container {
        margin-right: 0;
    }
    
    #frontend-container {
        margin-right: 10px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    #backend-container {
        margin-right: 10px;
        margin-left: 20px;
        flex-direction: column;
        background-image: var(--inner-container-background);
        box-shadow: var(--box-shadow);
    }

    #inner-language-description {
        font-family: var(--paragraph-font);
        visibility: visible;
        box-shadow: 0 4px 6px -6px gray;
    }

    #description-container {
        display: none;
        visibility: hidden;
    }

    .language-name {
        width: 100%;
    }

    #certifications-container {
        height: fit-content;
    }

    #inner-certifications-container {
        margin-top: var(--container-margin-top-smartphone);
        margin-bottom: var(--container-margin-top-smartphone);
        margin-right: 20px;
        margin-left: 20px;
        width: auto;
    }

    #certification-grid {
        margin-right: 10px;
        margin-left: 10px;
        min-width: calc(10vw);
        width: calc(100% - 10px);
        height: 590px;
    }

    .certification {
        height: 100%;
        max-width: 78%;
        flex-direction: column-reverse;
    }

    #center-certification {
        left: 11%;
    }

    #left-certification {
        height: 90%;
        left: 5%;
    }

    #right-certification {
        left: 17%;
        height: 90%;
    }

    #left-certification .certification-title,
    #right-certification .certification-title {
        font-size: 18px;
    }

    .left-part-certification {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right-part-certification {
        width: 100%;
        position: relative;
    }

    .certification-image {
        min-width: 100%;
        height: auto;
        overflow-y: hidden;
        max-width: 100%;
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 100%);
    }

    .certification-title {
        margin-left: 0;
    }

    .certification-content {
        text-align: left;
    }

    .certification-date {
        text-align: left;
    }

    .certification-workload {
        text-align: left;
    }

    .check-certification {
        max-width: 95%;
    }

    #btn-right {
        left: 87.5%;
    }

    #projects-container {
        height: fit-content;
    }

    #inner-projects-container {
        margin-top: var(--container-margin-top-smartphone);
        margin-bottom: var(--container-margin-top-smartphone);
        margin-right: 20px;
        margin-left: 20px;
        width: auto;
    }

    #projects-grid {
        margin-top: var(--inner-container-margin);
        margin-right: auto;
        margin-left: 10px;
        margin-bottom: 0;
        max-width: auto;
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-around;
    }

    .project {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .project-paragraph {
        padding-bottom: 325px;
    }

    .used-languages-wrapper {
        bottom: 5px;
    }

    .check-button {
        width: 120px;
    }

    .check-button:hover {
        background-color: var(--button-hover-background);
    }

    .repository-button {
        width: 90px;
    }

    #contact-container {
        height: fit-content;
    }

    #inner-contact-container {
        margin-top: var(--container-margin-top-smartphone);
        margin-bottom: var(--container-margin-top-smartphone);
        margin-right: 20px;
        margin-left: 20px;
        width: auto;
    }

    #contact-wrapper {
        display: flex;
        flex-direction: column;
    }

    #input-container {
        margin-left: 0;
    }

    input,
    textarea {

        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }

    label {
        margin-left: 5px;
    }

    .container-form {
        margin: 0;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-left: 20px;
    }

    input[type="submit"] {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    #socials-table {
        display: none;
    }

    #socials-table-smartphone {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
    }

    .socials-td {
        margin: 10px;
        padding-left: 10px;
        font-size: 20px;
        text-align: left;
    }
}